<div align="center" id="tableContainer" class="table-container" >
	<table cellpadding="10" cellspacing="0" width="900px" class="content-table">
		<thead class="fixedHeader">
			<tr class="alternateRow">
				<th width="5%">No.</th>
				<th align="left">FIN11 Details</th>
			</tr>
		</thead>
		<tbody>
			<% unless @records.nil? %>
				<% @records.each_with_index do |record, index| %>
				<tr class="record-row">
					<td width="5%"><%= "#{(index + 1)}." %></td>
					<td align="left"><%= record %></td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>