
<div class="span12">
	<h3 style="text-align:center;">FIN11 Generator</h3>
</div>
</br>

<%= render partial: "fields" %>

<div class="button-container">
<ul class="nav nav-pills span12">
	<li class="nav-item"><%= button_to('Clear All Listed Records', clear_records_configuration_fields_path, {:method => "post", :remote => true, :class => "btn btn-warning"}) %></li>
	<li class="nav-item"><%= button_to('Generate File', generate_file_configuration_fields_path, {:method => "post", :remote => true, :class => "btn btn-success"}) %></li>
</ul>
</div>
<%#= button_to('TEST', clear_records_configuration_fields_path,
:method => "post", :remote => true) %>


<%= render partial: "records" %>



