// Place all the styles related to the ConfigurationFields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.table-container {
	clear: both;
	width: 900px;
	margin-left: auto;
    margin-right: auto;
}

.button-container {
	width: 900px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button-container ul{
	margin: 0px 0px !important;
}

table.content-table {
	display: table;
	width: 900px;
	border-spacing: 2px;
}

table.content-table tr {
   border-bottom: 1px solid #CCCCCC;
}

.nav-item {
	margin-left: 6px;
}

.first-fields{
	margin-bottom: 25px;
	border-bottom: 1px solid #CCCCCC;
}

.flash{
	line-height: 30px;
}